* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #333333;
}

.todo-form {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 5px solid whitesmoke;
    display: flex;
}

.todo-form-input {
    border: 5px solid rosybrown;
    margin-right: 2rem;
}