@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #333333;
}

.todo-form {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
}

.todo-form-input {
    background-color: #333333;
    border: 1px solid #c5c6d0;
    padding: .3rem;
    width: 15rem;
    transition: all .5s ease-in;
}

.todo-form-input:focus {
    background-color: #c5c6d0;
}

.todo-form-btn {
    width: 7rem;
    cursor: pointer;
    background: none;
    border: 1px solid #c5c6d0;
    color: #c5c6d0;
    font-family: 'Zen Loop';
    font-size: 3rem;
    font-weight: 600;
   position: relative;
   transition: all .5s;
}


.todo-form-btn:hover {
    background-color: #c5c6d0;
    color: #333333;
}


.todo-form-filter {
   background: none;
   padding-left: 1rem;
   margin-left: 1rem;
   border: 1px solid #c5c6d0;
    width: 5rem;
    height: 3rem;
    text-align: center;
    transition: all .5s ease-in;
}

.todo-form-filter:focus {
    background-color: #c5c6d0;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item {
    background-color: #c5c6d0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    list-style-type: none;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

.finished {
    text-decoration: line-through;
}


.todo-btn {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

.todo-btn-2 {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
